

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-578721285077467771.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-578721285077467771.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-578721285077467771.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-578721285077467771.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-578721285077467771.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-578721285077467771.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-578721285077467771.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-578721285077467771.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-578721285077467771.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-578721285077467771.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-578721285077467771.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-578721285077467771.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-578721285077467771.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-578721285077467771.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-578721285077467771.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-578721285077467771.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-578721285077467771.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-578721285077467771.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-578721285077467771.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-578721285077467771.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-578721285077467771.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-578721285077467771.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-578721285077467771.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-578721285077467771.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-578721285077467771.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-578721285077467771.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-578721285077467771.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-578721285077467771.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-578721285077467771.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-578721285077467771.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-578721285077467771.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-578721285077467771.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-578721285077467771.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-578721285077467771.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-578721285077467771.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-578721285077467771.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-578721285077467771.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-578721285077467771.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-578721285077467771.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-578721285077467771.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-578721285077467771.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-578721285077467771.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-578721285077467771.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-578721285077467771.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-578721285077467771.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-578721285077467771.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-578721285077467771.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-578721285077467771.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-578721285077467771.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-578721285077467771.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-578721285077467771.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-578721285077467771.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-578721285077467771.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-578721285077467771.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-578721285077467771.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-578721285077467771.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-578721285077467771.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-578721285077467771.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-578721285077467771.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-578721285077467771.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-578721285077467771.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-578721285077467771.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-578721285077467771.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-578721285077467771.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-578721285077467771.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-578721285077467771.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-578721285077467771.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-578721285077467771.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-578721285077467771.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-578721285077467771.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-578721285077467771.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-578721285077467771.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-578721285077467771.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-578721285077467771.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-578721285077467771 .gp-relative{position:relative}.gps-578721285077467771 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578721285077467771 .gp-mb-0{margin-bottom:0}.gps-578721285077467771 .gp-inline-block{display:inline-block}.gps-578721285077467771 .gp-flex{display:flex}.gps-578721285077467771 .gp-grid{display:grid}.gps-578721285077467771 .\!gp-hidden{display:none!important}.gps-578721285077467771 .gp-hidden{display:none}.gps-578721285077467771 .gp-h-auto{height:auto}.gps-578721285077467771 .gp-h-full{height:100%}.gps-578721285077467771 .gp-w-full{width:100%}.gps-578721285077467771 .gp-max-w-full{max-width:100%}.gps-578721285077467771 .gp-flex-none{flex:none}.gps-578721285077467771 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578721285077467771 .gp-flex-col{flex-direction:column}.gps-578721285077467771 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578721285077467771 .gp-duration-200{transition-duration:.2s}.gps-578721285077467771 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-578721285077467771 .tablet\:\!gp-hidden{display:none!important}.gps-578721285077467771 .tablet\:gp-hidden{display:none}.gps-578721285077467771 .tablet\:gp-h-auto{height:auto}.gps-578721285077467771 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-578721285077467771 .mobile\:\!gp-hidden{display:none!important}.gps-578721285077467771 .mobile\:gp-hidden{display:none}.gps-578721285077467771 .mobile\:gp-h-auto{height:auto}.gps-578721285077467771 .mobile\:gp-flex-none{flex:none}}.gps-578721285077467771 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"i2l7e6bf0fe47"}' data-id="i2l7e6bf0fe47" id="i2l7e6bf0fe47" data-same-height-subgrid-container class="i2l7e6bf0fe47 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-APIMgXHxkKXW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"APIMgXHxkKXW"}' data-id="APIMgXHxkKXW" id="APIMgXHxkKXW" data-same-height-subgrid-container class="APIMgXHxkKXW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(253, 253, 253);--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:8px;--pl:4px;--pb:8px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:8px;--pl-mobile:0px;--pb-mobile:8px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-tablet:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="c-rRAEsbnbFzLr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="rRAEsbnbFzLr"
      style="--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:18px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1755004107283 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto rRAEsbnbFzLr"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1200" height="1200" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTIwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMCIgdG89IjEyMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_578603559805780873-06b9e677-b21f-4ffb-a172-88b62d36356f.webp" | file_url }}" data-src="{{ "gempages_578603559805780873-06b9e677-b21f-4ffb-a172-88b62d36356f.webp" | file_url }}" data-srcset="{{ 'gempages_578603559805780873-06b9e677-b21f-4ffb-a172-88b62d36356f.webp' | file_url }} 768w, {{ 'gempages_578603559805780873-06b9e677-b21f-4ffb-a172-88b62d36356f.webp' | file_url }} 1024w, {{ 'gempages_578603559805780873-06b9e677-b21f-4ffb-a172-88b62d36356f.webp' | file_url }} 1440w"
      id=""
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="i2l338c869a65 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="GlfwTqJAxPXt"
        class="GlfwTqJAxPXt"
        style="--ta:left;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:32px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:16px;--pb-mobile:0px;--pr-mobile:16px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755004107285"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--size:33px;--size-tablet:32px;--size-mobile:23px;--lh-mobile:100%;--fs:italic;--c:#4F4F4F;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gGlfwTqJAxPXt_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="DZCZRwEKgtgE"
        class="DZCZRwEKgtgE"
        style="--ta:left;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:12px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:8px;--pb-mobile:0px;--pr-mobile:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755004107285"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#4F4F4F;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gDZCZRwEKgtgE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-578721285077467771 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vdyagh-ct/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=578603564503401112&sectionId=578721285077467771)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gGlfwTqJAxPXt_text","label":"gGlfwTqJAxPXt_text","default":"Rezistență întreaga zi, ca un tatuaj de culoare."},{"type":"html","id":"gDZCZRwEKgtgE_text","label":"gDZCZRwEKgtgE_text","default":"<p>Tehnologia noastră brevetată <i>Liquid Blading</i> infuzează pigmenții în stratul superior al buzelor, apoi îi sigilează, astfel încât culoarea să nu se estompeze sau să se transfere ore în șir.</p><p><br>Formula noastră naturală, în doi pași, este rezistentă la apă (🥂 noroc!), rezistentă la transfer (👄 poți săruți fără griji!) și fără alcool (💧 fără buze uscate!) – pentru o culoare intensă și confort maxim pe tot parcursul zilei.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
